@import "tailwindcss";

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

@layer components {
  :root {
    font-family: var(--font-inter);
    color: var(--color-light);
  }

  .sidebar {
    @apply w-56 z-10 pt-10 flex flex-col items-center font-light;
  }

  .sidebar-link {
    @apply w-11/12 py-4 flex flex-row justify-center items-center rounded-md flex-nowrap;
  }

  .sidebar-icon {
    @apply w-4/12 flex flex-row justify-center items-center;
  }
}
