@import "tailwindcss";

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

@layer components {
  .sidebar-link {
    @apply w-full flex flex-row justify-center items-center flex-nowrap;
  }

  .sidebar-icon {
    @apply w-4/12 flex flex-row justify-center items-center;
  }
}
