@import "tailwindcss";

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

@layer components {
  :root {
    font-family: "Mona Sans",sans-serif;
    color: var(--color-light);
  }

  .base-layout {
    @apply px-0 pt-12 md:px-6 lg:px-12;
  }

  .sidebar {
    @apply w-16 md:w-40 lg:w-56 pt-10 flex flex-col items-center font-light;
  }

  .sidebar-link {
    @apply w-11/12 py-4 flex flex-row justify-center items-center rounded-md flex-nowrap;
  }

  .sidebar-label {
    @apply w-8/12 hidden md:inline lg:inline xl:inline;
  }

  .sidebar-icon {
    @apply w-4/12 flex flex-row justify-center items-center;
  }

  .modal-input-container {
    @apply mb-4 w-full flex items-center gap-2;
  }

  .modal-input {
    @apply w-full px-3 py-2 border rounded-md dark:border-gray-600 outline-none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar::webkit-scrollbar {
    display:flex;
  }

  .scrollbar {
    -ms-overflow-style: auto;
    scrollbar-width: auto;
  }

  .button-layout {
    @apply min-w-[5rem] py-2 px-5 inline-flex justify-center items-center font-medium text-sm border rounded-4xl cursor-pointer;
  }

  .spinner {
    @apply size-5 border-2 border-gray-200 border-l-blue-500 rounded-full animate-spin;
  }

  .chart-container {
    @apply px-5 pt-3 border-2 border-gray-500 rounded-lg;
  }

  .chart-label {
    @apply self-start mb-5;
  }

}
