@import "tailwindcss";

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  /* display: flex; */
  /* flex-direction: row; */
  /* flex-wrap: nowrap; */
}

nav {
  width: 10%;
  padding-top: 0.5rem;
  height: inherit;
  border-right: 1px solid black;
}

.profile-pic {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-color: gray;
}

.user-info {
  height: 15%;
  width: 100%;
  margin-bottom: 10px;
  align-items: center;
}

#navusername {
  font-size: 1rem;
  font-weight: bold;
}

#navrole {
  font-size: 0.8rem;
}

#navbar-links {
  height: 70%;
  margin: 0;
  padding-top: 0.7rem;
  gap: 0.7rem;
  list-style: none;
}

.navlink-container {
  width: 80%;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.navlink {
  /* TODO: add some container design */
  text-decoration: none;
  font-weight: normal;
  font-size: 1.2rem;
  color: black;
}

footer {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  justify-self: flex-end;
  width: 100%;
  border-top: solid black;
}
