.dashboard {
  padding: 1rem;
  min-height: 100vh;
  height: 200vh;
  display: flex;
}

footer {
  display: flex;
  justify-content: center;
  justify-self: flex-end;
  width: 100%;
  border-top: solid black;
}
