@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

@theme {
  /* --color-dark-bg: #121212; NOTE: recommended dark theme bg in some org */

  /* NOTE: This is from realtime colors */
  --color-light: #f4f4f4;

  /* NOTE: ----------- Light Mode Colors ------------ */
  --color-light-text: #040316;
  --color-light: hsl(240, 60%, 99%); /* NOTE: light bg */
  --color-primary: #1affff;
  --color-secondary: #3f009e;
  --color-accent: #0600c2;

  /* NOTE: ----------- Dark Mode Colors ------------- */
  --color-dark-text: #eae9fc;
  --color-dark: hsl(231, 32%, 9%); /* NOTE: dark bg */
  --color-primary-dark: hsl(180, 100%, 45%);
  --color-secondary-dark: hsl(264, 100%, 69%);
  --color-accent-dark: hsl(264, 100%, 69%);
  --color-edit-dark: #FFD700;
  --color-delete-dark: #FF0000;

  --font-mona: "Mona Sans", sans-serif;
}

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  height: fit-content;
}

/* NOTE: study this media query */
/* @media (prefers-color-scheme: light) { */
/*   :root { */
/*     color: #213547; */
/*     background-color: #ffffff; */
/*   } */
/*   a:hover { */
/*     color: #747bff; */
/*   } */
/*   button { */
/*     background-color: #f9f9f9; */
/*   } */
/* } */
