@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  --light-bg: #fff;
  --dark-bg: #000;
  /* --primary-color:  */

  font-family: Inter, sans-serif;
  font-size: 1.0rem;
  line-height: 1.2;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: var(--light-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  /* display: flex; */
  /* flex-direction: column; */
  /* flex-wrap: nowrap; */
}

/* NOTE: study this media query */
/* @media (prefers-color-scheme: light) { */
/*   :root { */
/*     color: #213547; */
/*     background-color: #ffffff; */
/*   } */
/*   a:hover { */
/*     color: #747bff; */
/*   } */
/*   button { */
/*     background-color: #f9f9f9; */
/*   } */
/* } */
