.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.nowrap {
  flex-wrap: nowrap;
}

.align-center {
  align-items: center;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 1rem;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.w-100 {
  width: 100%;
}

.w-inherit {
  width: inherit;
}

.h-inherit {
  height: inherit:
}

.minh-100 {
  min-height: 100vh;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 1rem;
}

.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-b-1 {
  margin-bottom: 1px;
}

.list-style-none: {
  list-style-type: none;
}
